<div ng-repeat="object in objects">
    <label for="{{key}}" class="col-sm-2 control-label optional">{{object.label}}</label>
    <div class="col-sm-10">
        <div>
            <button type="button" class="btn btn-default btn-sm" ng-hide="chooserOpened[object.id]" ng-click="openChooser(object.id)"><span class="glyphicon glyphicon-plus
glyphicon "></span> {{object.label}}</button>
            <div class="input-group" ng-show="chooserOpened[object.id]">
                <input autocomplete="off" id="search_{{object.id}}" type="text" class="form-control"  ng-model="search[object.id]" ng-keydown="keyPressed(object.id, $event, false)" ng-change="change(object.id)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="closeChooser()"><span class="glyphicon glyphicon-remove"></span></button>
                <button type="button" ng-click="addNewObject(object.id, false)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
            </div>
            <div ng-show="chooserOpened[object.id]" class="chooserContainer">
                <table class="chooser">
                    <thead>
                    <tr>
                        <th class="ng-scope td-small">ID</th>
                        <th ng-repeat="property in schemaChooser2.list">{{schemaChooser2.properties[property].label}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="chooserObject in chooserObjects[object.id]" ng-click="chooseObject(object.id, chooserObject, false)" ng-class='{selected:$index == selectedIndex}'>
                        <td class="td-small"><pim-autoformat property="id" schema="schemaChooser2" object="chooserObject"></pim-autoformat></td>
                        <td ng-repeat="property in schemaChooser2.list"><pim-autoformat property="{{property}}" schema="schemaChooser2" object="chooserObject"></pim-autoformat></td>
                        <td><span class="glyphicon glyphicon-chevron-right"></span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="{{propertyCountChooser2 + 1}}" class="td-large">
                            Seite {{currentPage}} von {{totalPages}}
                        </td>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
        <table ng-show="object.objects"  class="join col-sm-12"  >
            <thead ng-show="object.objects">
            <tr>
                <th class="ng-scope td-small">ID</th>
                <th ng-repeat="property in schemaChooser2.list">{{schemaChooser2.properties[property].label}}</th>
                <th class="td-small"></th>
            </tr>
            </thead>
            <tbody ng-show="object.objects" >
            <tr ng-repeat="option in object.objects">
                <td class="td-small">{{option.id}}</td>
                <td ng-repeat="property in schemaChooser2.list">{{option[property].id ? option[property].id : option[property]}}<!--pim-autoformat property="{{property}}" schema="schema" object="object"></pim-autoformat--></td>
                <td class="td-small">
                    <span ng-show="config.sortable" class="glyphicon glyphicon-move sortable-handle" aria-hidden="true"></span>
                    <button class="btn btn-danger btn-xs" type="button" ng-click="removeObject(object.id, option.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="col-sm-12">
    <button type="button" class="btn btn-default btn-sm col-sm-2" ng-hide="chooserOpened[0]" ng-click="openChooser(0)"><span class="glyphicon glyphicon-plus
glyphicon "></span> {{config.label}}</button>
    <div class="input-group" ng-show="chooserOpened[0]">
        <input autocomplete="off" id="search_0" type="text" class="form-control"  ng-model="search[0]" ng-keydown="keyPressed(0, $event, true)" ng-change="change(0)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="closeChooser()"><span class="glyphicon glyphicon-remove"></span></button>
                <button type="button" ng-click="addNewObject(0, true)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
    </div>
    <div ng-show="chooserOpened[0]" class="chooserContainer">
        <table class="chooser">
            <thead>
            <tr>
                <th class="ng-scope td-small">ID</th>
                <th ng-repeat="property in schemaChooser1.list">{{schemaChooser1.properties[property].label}}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="chooserObject in chooserObjects[0]" ng-click="chooseObject(0, chooserObject, true)" ng-class='{selected:$index == selectedIndex}'>
                <td class="td-small"><pim-autoformat property="id" schema="schemaChooser2" object="chooserObject"></pim-autoformat></td>
                <td ng-repeat="property in schemaChooser1.list"><pim-autoformat property="{{property}}" schema="schemaChooser1" object="chooserObject"></pim-autoformat></td>
                <td><span class="glyphicon glyphicon-chevron-right"></span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="{{propertyCountChooser1 + 1}}" class="td-large">
                    Seite {{currentPage}} von {{totalPages}}
                </td>
            </tr>
            </tfoot>

        </table>
    </div>
</div>
