<label for="{{key}}" class="col-sm-2 control-label ng-class: {optional: config.nullable}">{{config.label}}</label>
<div class="col-sm-10">
    <p class="input-group">
          <input autocomplete="off" type="text" class="form-control" name="{{key}}" uib-datepicker-popup="dd.MM.yyyy" on-open-focus="true" ng-model="dateValue" is-open="isOpened"  ng-required="!config.nullable && !config.readonly && !config.hide" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
</div>
<div class="col-sm-10 col-sm-offset-2" ng-show="isSubmit && !config.readonly && !config.hide && !isValid">
    <p class="error">Bitte fülllen Sie das Feld korrekt aus!</p>
</div>