.vagrant/*
appcms/areanet/PIM-UI/default/assets/bower_components
appcms/public/info.php
appcms/public/custom/*
appcms/public/ui/*
appcms/public/plugins/*
appcms/composer.lock
appcms/vendor
.idea/*
ansible/*
template
docker-compose.yml
docker/*
Vagrantfile
custom/*
custom1.4/*
custom1.5/*
data/*
data/files/*
data/cache/*
data/temp/*
data/import/*
profiler/*
backup/*
plugins/*
doc
