.vagrant/*
lib/contentfly-ui/assets/bower_components
composer.lock
vendor
.idea/*
ansible/*
template
docker-compose.yml
docker/*
Vagrantfile
custom/*
data/*
data/files/*
data/cache/*
data/temp/*
data/import/*
profiler/*
backup/*
plugins/*
doc
docker
docker-compose.yml
info.php
.DS_Store
.vscode