.vagrant/*
appcms/areanet/PIM-UI/default/assets/bower_components
appcms/public/info.php
appcms/composer.lock
appcms/vendor
.idea/*
ansible/*
template
Vagrantfile
custom/*
data/*
data/files/*
data/cache/*
data/temp/*
data/import/*
profiler/*
backup/*