<pim-plugin key="DASHBOARD_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header ">
    <div class="col-sm-6 col-sm-offset-1">
        <pim-plugin key="DASHBOARD_HEADER_TITLE_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <h3>{{ frontend.welcome}}</h3>
        <pim-plugin key="DASHBOARD_HEADER_TITLE_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
</div>
<pim-plugin key="DASHBOARD_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header-analytics">
    <pim-plugin key="DASHBOARD_BODY" uiblocks="uiblocks"></pim-plugin>
</div>
<pim-plugin key="DASHBOARD_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>
