<pim-plugin key="DASHBOARD_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header ">
    <div class="col-sm-6 col-sm-offset-1">
        <pim-plugin key="DASHBOARD_HEADER_TITLE_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <h3><span class="glyphicon glyphicon-exclamation-sign"></span> Zugriff nicht gestattet</h3>
        <pim-plugin key="DASHBOARD_HEADER_TITLE_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
</div>
<pim-plugin key="DASHBOARD_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header-analytics">
    <pim-plugin key="DASHBOARD_BODY_CONTENT_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div class="col-sm-11 col-sm-offset-1">
        <p>Der Zuriff auf die angeforderte Ressource wurde vom Server leider nicht gestattet!</p>
    </div>
    <pim-plugin key="DASHBOARD_BODY_CONTENT_APPEND" uiblocks="uiblocks"></pim-plugin>
</div>
<pim-plugin key="DASHBOARD_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>