<div class="modal-header">
    <pim-plugin key="FORM_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div class="col-sm-6">
        <pim-plugin key="FORM_HEADER_TITLE_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <small>{{vm.modaltitle1}}</small>
        <h3 class="modal-title">{{vm.modaltitle2}}</h3>
        <small ng-show="vm.object.created">Erstellt {{::vm.object.created.LOCAL}} | Geändert {{::vm.object.modified.LOCAL_TIME}} Uhr<span ng-show="vm.object.id"> | ID: {{vm.object.id}}</span></small></p>
        <pim-plugin key="FORM_HEADER_TITLE_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
    <div class="col-sm-6" style="text-align:right;">
        <pim-plugin key="FORM_BUTTONS_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <button class="btn btn-default" type="button" ng-disabled="vm.doSave" ng-click="vm.cancel()">Abbrechen</button>
        <button class="btn btn-primary" type="button" ng-hide="vm.readonly" ng-disabled="vm.doSave || vm.isLoading" ng-click="vm.save(false)">Speichern</button>
        <button class="btn btn-primary" type="button" ng-hide="vm.readonly" ng-disabled="vm.doSave || vm.isLoading" ng-click="vm.save(true)">Speichern und Schließen</button>
        <pim-plugin key="FORM_BUTTONS_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
    <pim-plugin key="FORM_HEADER_APPEND" uiblocks="uiblocks"></pim-plugin>
</div>
<div class="modal-body">
    <div ng-if="vm.object.lang" style="float:right;padding-top:14px;"><span class="lang-sm lang-lbl-full" lang="{{vm.object.lang}}"></span></div>
    <pim-plugin key="FORM_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div class="saving" ng-show="vm.doSave">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Daten werden gespeichert...</p>
    </div>

    <div class="form-loading" ng-show="vm.isLoading">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Daten werden geladen...</p>
    </div>

    <uib-tabset active="active" ng-hide="vm.isLoading">
        <pim-plugin key="FORM_TAB_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <uib-tab  ng-repeat="(tabKey, tab) in ::vm.schema.settings.tabs" index="$index" ng-show="!tab.onejoin && ((vm.permissions[vm.entity].extended !== undefined && vm.permissions[vm.entity].extended.tabPermission[tabKey]  !== undefined  && vm.permissions[vm.entity].extended.tabPermission[tabKey] > 0) || !vm.permissions[vm.entity].extended === undefined || vm.permissions[vm.entity].extended.tabPermission[tabKey] == undefined)   || tab.onejoin && permissions[tabKey] && permissions[tabKey].readable">
            <uib-tab-heading ng-class="{tabInvalid: tabInvalid && vm.isSubmit}" >
                <pim-plugin key="FORM_TAB_TITLE_PREPEND" uiblocks="uiblocks"></pim-plugin><span ng-if="tabKey != 'settings'">{{tab.title}}</span><span class="glyphicon glyphicon-cog" aria-hidden="true" ng-if="tabKey == 'settings'"></span> <span class="glyphicon glyphicon-exclamation-sign icon-hidden" aria-hidden="true"><pim-plugin key="FORM_TAB_TITLE_APPEND" uiblocks="uiblocks"></pim-plugin></span>
            </uib-tab-heading>

            {{formName='form'+$index;""}}

            <form name="vm.forms.form{{$index}}" class="form-horizontal" bind-validity="tabInvalid" >
                <pim-plugin key="FORM_PREPEND" uiblocks="uiblocks"></pim-plugin>
                <div class="form-group" ng-if="tabKey == 'settings'">
                    <label for="entity" class="col-sm-2 control-label">Entität</label>
                    <div class="col-sm-10">
                        <input autocomplete="off" type="text" class="form-control " id="entity" name="entity" value="{{vm.entity}}" readonly>
                    </div>
                </div>
                <div  ng-if="config.tab == tabKey && tab.onejoin == false" class="form-group ng-class: {'i18n_universal': config.i18n_universal,'has-error': vm.isSubmit && !config.readonly && !config.hide && vm.forms[formName][key] && !vm.forms[formName][key].$valid};" ng-hide="config.hide || vm.permissions[vm.entity].extended.fieldPermission[key] !== undefined && vm.permissions[vm.entity].extended.fieldPermission[key] == 0"   ng-repeat="(key, config) in ::vm.schema.properties">
                    <pim-form key="key" main-key="" readonly="{{vm.readonly ? 1 : 0}}" writable="{{vm.permissions[vm.entity].extended.fieldPermission[key] == 1 || vm.readonly ? 0 : vm.permissions[vm.entity].writable}}" config="config" object="vm.object" has-visible-field="hasVisibleField" is-valid="vm.forms[formName][key].$valid" is-submit="vm.isSubmit" on-change-callback="vm.changeValue(key, mainKey, value)"></pim-form>
                </div>
                <div ng-if="tab.onejoin == true" class="form-group ng-class: {'i18n_univeral': config.i18n_univeral, 'has-error': isSubmit && !config.readonly && !config.hide && vm.forms[formName][key] && !vm.forms[formName][key].$valid};" ng-hide="config.hide || vm.permissions[tabKey].extended.fieldPermission[key] !== undefined && vm.permissions[tabKey].extended.fieldPermission[key] == 0"   ng-repeat="(key, config) in ::vm.schemaOnejoin[tabKey].properties">
                    <pim-form key="key" main-key="tab.onejoin_field" readonly="{{vm.readonly ? 1 : 0}}" writable="{{vm.permissions[tabKey].extended.fieldPermission[key] == 1 || vm.readonly  ? 0 : vm.permissions[tabKey].writable}}" config="config" object="vm.object[tab.onejoin_field]" is-valid="vm.forms[formName][key].$valid" is-submit="vm.isSubmit" on-change-callback="vm.changeValue(key, mainKey, value)"></pim-form>
                </div>
                <pim-plugin key="FORM_APPEND" uiblocks="uiblocks"></pim-plugin>
            </form>



        </uib-tab>
        <pim-plugin key="FORM_TAB_APPEND" uiblocks="uiblocks"></pim-plugin>
    </uib-tabset>
    <pim-plugin key="FORM_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>

</div>
<div class="modal-footer">
    <pim-plugin key="FORM_FOOTER_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div class="col-sm-2">
        <button class="btn btn-danger" type="button" ng-hide="vm.readonly || vm.schema.settings.viewMode != 1 || !vm.object.id" ng-disabled="vm.doSave || vm.isLoading" ng-click="vm.delete(vm.object)">Löschen</button>
    </div>
    <div class="col-sm-10">
        <pim-plugin key="FORM_BUTTONS_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <button class="btn btn-default" type="button" ng-disabled="vm.doSave" ng-click="vm.cancel()">Abbrechen</button>
        <button class="btn btn-primary" type="button" ng-hide="vm.readonly" ng-disabled="vm.doSave || vm.isLoading" ng-click="vm.save(false)">Speichern</button>
        <button class="btn btn-primary" type="button" ng-hide="vm.readonly" ng-disabled="vm.doSave || vm.isLoading" ng-click="vm.save(true)">Speichern und Schließen</button>
        <pim-plugin key="FORM_BUTTONS_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
    <pim-plugin key="FORM_FOOTER_APPEND" uiblocks="uiblocks"></pim-plugin>
</div>