<pim-plugin key="LIST_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header" data-block="header" ng-if="!vm.filterSidebar">
    <div class="col-xl-10 col-xl-offset-1 col-lg-12 col-lg-offset-0">
        <ng-include src="'/ui/default/views/list/header.html'"></ng-include>
    </div>
</div>
<div class="row header" data-block="header" ng-if="vm.filterSidebar">
    <div class="col-lg-2  sidebar-header ">
        <h3>&nbsp;<br><small>{{vm.filterSidebarTitle}}</small></small></h3>
    </div>
    <div class="col-lg-9  ">
        <ng-include src="'/ui/default/views/list/header.html'"></ng-include>
    </div>
</div>

<pim-plugin key="LIST_CONTENT_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row" ng-if="vm.filterSidebar">
    <div class="col-lg-2  sidebar ">
        <ng-include src="'/ui/default/views/list/tree.html'"></ng-include>
    </div>
    <div class="col-lg-9  ">
        <ng-include src="'/ui/default/views/list/list.html'"></ng-include>
    </div>
</div>
<div class="row" ng-if="!vm.filterSidebar">
    <div class="col-xl-10 col-xl-offset-1 col-lg-12 col-lg-offset-0">
        <ng-include src="'/ui/default/views/list/list.html'"></ng-include>
    </div>
</div>
<pim-plugin key="LIST_CONTENT_APPEND" uiblocks="uiblocks"></pim-plugin>