<div class="panel panel-default center-block center-panel" id="login" >

    <div class="panel-body">
        <pim-plugin key="LOGIN_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <form class="form-horizontal" ng-submit="vm.login()">
            <pim-plugin key="LOGIN_BODY_FORM_PREPEND" uiblocks="uiblocks"></pim-plugin>
            <div class="form-group">
                <div class="head col-xs-10 col-sm-offset-1"  >
                    <a href="/"><img ng-show="vm.logoIsInitialisied" class="logo" ng-attr-src="{{vm.config.frontend.customLogo ?  '/custom/Frontend/ui/default/img/logo.png' : '/ui/default/img/appcms_logo.png'}}"></a>
                </div>
            </div>
            <div class="form-group" ng-show="vm.error">
                <div class="alert alert-danger col-sm-10 col-sm-offset-1" role="alert">
                    <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i></strong> {{vm.error}}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group col-sm-10 col-sm-offset-1">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="alias" placeholder="Benutzername" ng-model="vm.alias" autofocus ng-change="vm.change()">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group col-sm-10 col-sm-offset-1">
                    <span class="input-group-addon" ><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Passwort" ng-model="vm.password" ng-change="vm.change()">
                </div>
            </div>
            <pim-plugin key="LOGIN_BODY_FORM_APPEND" uiblocks="uiblocks"></pim-plugin>
            <div class="form-group">
                <button type="submit" ng-disabled="!vm.canLogin" class="btn btn-primary col-sm-10 col-sm-offset-1">Jetzt einloggen</button>
            </div>
            <pim-plugin key="LOGIN_BODY_SUBMIT_APPEND" uiblocks="uiblocks"></pim-plugin>
        </form>
        <pim-plugin key="LOGIN_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
    <div class="panel-footer"><pim-plugin key="LOGIN_FOOTER_PREPEND" uiblocks="uiblocks"></pim-plugin><span ng-show="vm.config.version">Version {{vm.config.version}}</span><pim-plugin key="LOGIN_FOOTER_APPEND" uiblocks="uiblocks"></pim-plugin></div>

</div>