<pim-plugin key="SETTINGS_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header ">
    <div class="col-sm-6 col-sm-offset-1">
        <pim-plugin key="SETTINGS_HEADER_TITLE_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <h3>Einstellungen</h3>
        <pim-plugin key="SETTINGS_HEADER_TITLE_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
</div>
<pim-plugin key="SETTINGS_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header-analytics">
    <pim-plugin key="SETTINGS_BODY_CONTENT_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div class="col-sm-11 col-sm-offset-1">
        <button class="btn btn-default btn-sm" ng-click="vm.loadSchema()" ng-disabled="vm.schemaButtonDisabled">Schema neu laden</button>
        <span>{{vm.schemaMessage}}</span>
    </div>
    <pim-plugin key="SETTINGS_BODY_CONTENT_APPEND" uiblocks="uiblocks"></pim-plugin>
</div>
<pim-plugin key="SETTINGS_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>