<pim-plugin key="SETTINGS_HEADER_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header ">
    <div class="col-sm-6 col-sm-offset-1">
        <pim-plugin key="SETTINGS_HEADER_TITLE_PREPEND" uiblocks="uiblocks"></pim-plugin>
        <h3>Einstellungen</h3>
        <pim-plugin key="SETTINGS_HEADER_TITLE_APPEND" uiblocks="uiblocks"></pim-plugin>
    </div>
</div>
<pim-plugin key="SETTINGS_BODY_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row header-analytics">
    <pim-plugin key="SETTINGS_BODY_CONTENT_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Datenbank-Schema</b></p>
        <p>
            <button class="btn btn-default btn-sm" ng-click="vm.loadSchema()" ng-disabled="vm.buttonsDisabled">Schema neu laden</button>
            <button class="btn btn-default btn-sm" ng-click="vm.flushSchemaCache()" ng-disabled="vm.buttonsDisabled">Schema-Cache löschen</button>
        </p>
        <p><b>ORM</b></p>
        <p>
            <button class="btn btn-default btn-sm" ng-click="vm.updateDatabase()" ng-disabled="vm.buttonsDisabled">Datenbank synchronisieren</button>
        </p>
    </div>
    <div class="col-sm-6">
        <p><b>Meldungen</b></p>
        <div class="console" ng-bind-html="vm.message"></div>
    </div>
    <pim-plugin key="SETTINGS_BODY_CONTENT_APPEND" uiblocks="uiblocks"></pim-plugin>
</div>
<pim-plugin key="SETTINGS_BODY_APPEND" uiblocks="uiblocks"></pim-plugin>