@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Open-Sans-300/Open-Sans-300.eot');
    src: url('../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Light'),
    local('Open-Sans-300'),
    url('../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
    url('../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
    url('../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
    url('../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot');
    src: url('../fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
    local('Open Sans'),
    local('Open-Sans-regular'),
    url('../fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
    url('../fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
    url('../fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
    url('../fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Open-Sans-600/Open-Sans-600.eot');
    src: url('../fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Semibold'),
    local('Open-Sans-600'),
    url('../fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
    url('../fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
    url('../fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
    url('../fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Open-Sans-700/Open-Sans-700.eot');
    src: url('../fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Bold'),
    local('Open-Sans-700'),
    url('../fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
    url('../fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
    url('../fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
    url('../fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}


*{
    font-family: 'Open Sans';
}

.clear{
    height:1px;
    line-height: 1px;
    clear:both;
}

body {
    padding-top: 70px;
    background-color:#F2F4F9;

}

body.emotionalBackground{
    background-image: url('../img/bg_login.jpg');
    background-size:cover;
}

#pim-header{
    -webkit-box-shadow: 0px 0px 4px 0px rgba(191,189,191,1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(191,189,191,1);
    box-shadow: 0px 0px 4px 0px rgba(191,189,191,1);
    background-color:#FFFFFF;
}

#pim-header *{
    color:#4E5E6A !important;
}


#pim-header .logo{
    float:left;
    margin-top:5px;
    margin-bottom:5px;
}

#pim-nav{
    background-color:#38415C;
    background-color:#2F3E55;
    height:100%;
    position:fixed;
    top:50px;
    left:0;
    width:200px;
    z-index:30;
    padding-top:36px;
}

#pim-nav ul{
    list-style:none;
    padding:0;
}

#pim-nav ul li{
    color:#FFFFFF;
    line-height:26px;
}

#pim-nav ul li h3 {
    padding-left:5px;
    padding-bottom:5px;
    margin:0;
    margin-top:40px;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

#pim-nav ul li h3 span {
    opacity: 0.75;
    margin-right:5px;
}

#pim-nav ul li a{
    color:#FFFFFF;
    padding-left:24px;
    font-size:14px;
    font-weight: 300;
}

#pim-nav ul li a:focus{
    font-weight: bold ;
    text-decoration: none;
}


#pim-nav ul ul{
    background-color:#2E374F;
    background-color:#1D2A48;
    padding-top:4px;
    padding-bottom:4px;
}

#pim-nav .version{
    opacity: 0.3;
    font-size:14px;
}

#pim-content{
    left:200px;
    top:50px;
    right:0;
    position:absolute;
    z-index:20;
}

.pim-content-login{
    left:0 !important;
}

#pim-content .header{
    background-color:#EAEDF2;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(191,189,191,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(191,189,191,1);
    box-shadow: 0px 0px 2px 0px rgba(191,189,191,1);
    padding-top:40px;
}

#pim-content .header h3{
    color:#4E5E6A;
    font-weight:normal;
    font-weight: 300;
    float:left;
}

#pim-content .header ul {
    margin:0;
    margin-top:16px;
    margin-left:20px;
}

#pim-content .header button{
    margin-top:16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.splash {
    display: none;
    text-align: center;
    margin-top:100px;
    color:#666666;
}

[ng-cloak].splash {
    display: block !important;
}


.ball-pulse > div {
    background: #666666 !important;
}

.pim-sidebar{
    background-color:#CCCCCC;
    height:100%;
}

.center-panel{
    width:500px;
}

.header{
    margin-bottom:25px;
}

.header h2{
    margin-top:0;
}

input.error{
    border:#a94442;
}

/*
.devmode-true{
    background-color:#fd472b;
}
*/

.devmode-true li a:not(.dropdown), .devmode-true .navbar-brand{
    color:#FFFFFF !important;
}


p.error{
    color:#a94442;
    margin-top:5px;
}

label.optional{
    font-weight: normal;
}

.has-error .control-label.optional{
    color:#333 !important;
}



.cursor-pointer{
    cursor: pointer;
}

.upload{
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.image-upload{
    margin-top:10px;
}

.image-edit{
    position: relative;
    float:left;
    margin-top:5px;
}

.image-edit .fileicon{
    width:100%;
    height:140px;
    margin-top:20px;
    font-size:100px;
    text-align:center;
    color:#6a727d;
}

.image-edit .filelabel{
    width:100%;
    text-align:center;
    color:#000000;
    height:40px;
    font-size:75%;
}

.image-form-container{
    width:200px;
    height:200px;
    float:left;
    margin-right:5px;

}

.image-form.image-edit{
    width:200px;
    height:200px;
    overflow:hidden;
    background-size: cover;
    background-position: center center;
    border:1px solid #999999;
}


.image-edit button{
    position: absolute;
    right:4px;
    top:4px;
    display:none;
}

.image-edit button.btn2{
    position: absolute;
    right:45px;
}

.image-edit button.btn3{
    position: absolute;
    right:85px;
}


.version{
    color:#999999;
    padding-left:20px;
    padding-top:20px;
}



.image-edit:hover button{
    display:block;
}

.file-edit{
    margin-top:5px;
}

.file-edit span{
    margin-left:10px;
    cursor: pointer;
}

.file-edit ul{
    padding-left:20px;
}

.pim-clearinput {
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 100;
    color: #555;
}

.input-group .pim-clearinput {
    right: 50px;
}

.tab-content {
    margin-top: 15px;
}

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.grid *{
    font-weight: 300;

    font-size:11px;
}

.grid p {
    padding:5px 5px 0px 5px;
    color:#666666;
}

.grid b {
    font-size:11px;
    font-weight:600;
    color:#000000;
}

.table tbody tr:hover{
    background-color:#EAEDF2;
}


li.grid.isSelectable{
    cursor:pointer;
}

li.grid:hover .image-edit{
    display:block;
}

.dynamic-grid li:hover{
    -webkit-box-shadow: 0px 0px 16px 1px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(102,102,102,1);
    box-shadow: 0px 0px 16px 1px rgba(102,102,102,1);
    border:1px solid #a94442;
}

.btn-sorting, .btn-filter, .pagination{
    float:left;
}

.btn-sorting, .btn-filter{
    margin-left:20px;
}

.btn-filter .dropdown-menu{
    width:480px;
}

.btn-filter label{
    width:200px;
    display:inline-block;
}


.btn-filter .form-group{
    display:block;
    margin-bottom: 15px;
    padding-left:10px;
}

.tabInvalid, .tabInvalid *{
    color:#A94440 !important;
    font-weight: bold;
}

.icon-hidden{
    display:none;
}

.tabInvalid .icon-hidden{
    display:inline-block;
}

.btn-note{
    display:inline-block;
    padding: 6px 12px;
    margin: 18px 0 0 0 !important;

    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    float:left;
}

.panel-analytics .panel-heading{
    font-size:40px;
}

.panel-analytics .panel-heading *{
    line-height:60px;
}

.header-analytics{
    margin-bottom: 20px;
}

/** CHOOSER **/
.chooserContainer{
    border:1px solid #CCCCCC;
}

.chooser{
    position: relative;
    background-color:#efefef;
    width:100%;
}

.chooser thead th{
    padding-top:5px;
}

.chooser tbody tr{
    cursor: pointer;
}

.chooser thead *, .chooser tfoot *{
    color:#999999;
    font-weight:normal;
}

.chooser td, .chooser th{
    font-size:75%;
    padding:2px;
    border-bottom:1px solid #dedede;
    width:auto !important;
}

.chooser tr.selected{
    background-color:#CCCCCC;
}

.join{
    border:1px solid #CCCCCC;
    margin-top:10px;
    margin-bottom:10px;
}

.join tbody tr:hover{
    background-color:#efefef;
}

.join td, .join th{
    font-size:75%;
    padding:2px;
    width: auto !important;
}

.chooser .td-large, .join .td-large{
    width:100%;
}

.chooser .td-small, .join .td-small{
    width:80px !important;
}

.align-right{
    text-align:right;
}

#login{
    background-color: rgba(255, 255, 255, 0.7) !important;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.35);
}

#login .head{
    text-align: center;
    margin-bottom:20px;
    margin-top:10px;
    background-color:#FFFFFF;
    height:70px;
    border-radius: 8px;
}



#login .head h1{
    display: inline-block;
    color:#666666;
    opacity: 0.5;
}
