<div class="modal-header">
    <h3 class="modal-title">{{modaltitle}} <small ng-show="object.created">Erstellt {{object.created.LOCAL}} | Geändert {{object.modified.LOCAL_TIME}} Uhr</small></h3>
</div>
<div class="modal-body">

        <uib-tabset active="active">
            <uib-tab  ng-repeat="(tabKey, tabTitle) in schema.settings.tabs" index="$index">
                <uib-tab-heading ng-class="{tabInvalid: tabInvalid}">
                    {{tabTitle}} <span class="glyphicon glyphicon-exclamation-sign icon-hidden" aria-hidden="true"></span>
                </uib-tab-heading>

                {{formName='form'+$index;""}}

                <form name="forms.form{{$index}}" class="form-horizontal" bind-validity="tabInvalid">
                    <!-- @todo: One2One anzeigen ??!!?? -->
                    <pim-form object="object" submitted="isSubmit" schema="schema" tabkey="tabKey" form="forms[formName]"></pim-form>
                </form>
            </uib-tab>
        </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Abbrechen</button>
    <button class="btn btn-primary" type="button" ng-click="save()">Speichern</button>
</div>