<div class="modal-header">
    <div class="col-sm-4">
        <h3 class="modal-title">Passwort ändern <br><small>Benutzer {{vm.object.alias}}</small></h3>
    </div>
    <div class="col-sm-8" style="text-align:right;">
        <button class="btn btn-default" type="button" ng-disabled="vm.doSave" ng-click="vm.cancel()">Abbrechen</button>
        <button class="btn btn-primary" type="button" ng-disabled="vm.doSave" ng-click="vm.save()">Passwort ändern</button>
    </div>
</div>
<div class="modal-body">

    <div class="saving" ng-show="vm.doSave" style="position:static;">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Daten werden gespeichert...</p>
    </div>

    <form name="passwordForm" ng-hide="vm.doSave" novalidate  class="form-horizontal" >
        <div class="form-group" ng-if="!vm.isAdmin">
            <label for="passwordCurrent" class="col-sm-2 control-label">Bestehendes Passwort</label>
            <div class="col-sm-10">
                <input required autocomplete="off" type="password" class="form-control " id="passwordCurrent" name="passwordCurrent"  ng-model="vm.passwordCurrent">
            </div>
            <div class="col-sm-10 col-sm-offset-2" ng-show="vm.isSubmitted && passwordForm.passwordCurrent.$error.required">
                <p class="error">Bitte fülllen Sie das Feld korrekt aus!</p>
            </div>
            <div class="col-sm-10 col-sm-offset-2" ng-show="vm.isSubmitted && passwordForm.passwordCurrent.$error.match">
                <p class="error">Sie haben Ihr bestehendes Passwort falsch eingegeben!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordNew" class="col-sm-2 control-label">Neues Passwort</label>
            <div class="col-sm-10">
                <input required autocomplete="off" type="password" class="form-control " id="passwordNew" name="passwordNew"  ng-model="vm.passwordNew">
            </div>
            <div class="col-sm-10 col-sm-offset-2" ng-show="vm.isSubmitted && passwordForm.passwordNew.$error.required">
                <p class="error">Bitte fülllen Sie das Feld korrekt aus!</p>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordNewRepeat" class="col-sm-2 control-label">...wiederholen</label>
            <div class="col-sm-10">
                <input required autocomplete="off" type="password" class="form-control " id="passwordNewRepeat" name="passwordNewRepeat"   ng-model="vm.passwordNewRepeat">
            </div>
            <div class="col-sm-10 col-sm-offset-2" ng-show="vm.isSubmitted && passwordForm.passwordNewRepeat.$error.required">
                <p class="error">Bitte fülllen Sie das Feld korrekt aus!</p>
            </div>
            <div class="col-sm-10 col-sm-offset-2" ng-show="vm.isSubmitted && passwordForm.passwordNewRepeat.$error.permission">
                <p class="error">Sie haben keine Berechtigung, um Ihr Passwort abzuändern!</p>
            </div>
        </div>
    </form>



</div>
<div class="modal-footer">
    <div class="col-sm-12">
        <button class="btn btn-default" type="button" ng-disabled="vm.doSave" ng-click="vm.cancel()">Abbrechen</button>
        <button class="btn btn-primary" type="button" ng-disabled="vm.doSave" ng-click="vm.save()">Passwort ändern</button>
    </div>
</div>