<div ng-hide="hide">
    <pim-plugin key="TYPE_PREPEND" uiblocks="uiblocks"></pim-plugin>
    <label for="{{key}}" class="col-sm-2 control-label optional">{{config.label}}<pim-plugin key="TYPE_LABEL_APPEND" uiblocks="uiblocks"></pim-plugin></label>
    <div class="col-sm-10">
        <div ng-hide="config.readonly">
            <button type="button" ng-disabled="!writable" class="btn btn-default btn-sm" ng-hide="chooserOpened" ng-click="openChooser()">Auswählen</button>
            <div class="input-group" ng-show="chooserOpened">
                <input autocomplete="off" id="search" type="text" class="form-control"  ng-model="search" ng-keydown="keyPressed($event)" ng-change="change()">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="closeChooser()"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" ng-click="addNewObject()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
            <div ng-show="chooserOpened" class="chooserContainer">
                <table class="chooser">
                    <thead>
                    <tr>
                        <th ng-repeat="property in schema.list">{{schema.properties[property].label}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="object in objects" ng-click="chooseObject(object)" ng-class='{selected:$index == selectedIndex, choosen:choosenIds.indexOf(object.id) > -1}'>
                        <td ng-repeat="property in schema.list"><pim-autoformat property="{{property}}" schema="schema" object="object"></pim-autoformat></td>
                        <td class="td-smallalign-right"><span ng-hide="choosenIds.indexOf(object.id) > -1" class="glyphicon glyphicon-chevron-right"></span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="{{propertyCount + 1}}" class="td-large">
                            Seite {{currentPage}} von {{totalPages}}
                        </td>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
        <div>
            <pim-plugin key="TYPE_FIELD_PREPEND" uiblocks="uiblocks"></pim-plugin>
            <table ng-show="value.length"  class="join col-sm-12"  >
                <thead ng-show="value.length">
                <tr>
                    <th ng-repeat="property in schema.list">{{schema.properties[property].label}}</th>
                    <th class="td-small" ng-hide="config.readonly"></th>
                </tr>
                </thead>
                <tbody ui-sortable="sortableOptions" ng-model="value" ng-show="value.length" ng-init="mappedBy = config.mappedBy">
                <tr ng-repeat="object in value" ng-class="{disabled:config.sortable && !object.isActive}">
                    <td ng-repeat="property in schema.list"><i ng-show="object[mappedBy] ? object[mappedBy].pim_blocked : object.pim_blocked">gesperrt</i><pim-autoformat property="{{property}}" schema="schema" object="object[mappedBy] ? object[mappedBy] : object"></pim-autoformat></td>
                    <td class="td-small align-right" ng-hide="config.readonly">
                        <span  ng-show="config.sortable && writable" class="glyphicon glyphicon-move sortable-handle" aria-hidden="true"></span>
                        <button ng-show="config.sortable && writable" class="btn btn-default btn-xs" type="button" ng-click="disableObject($index)"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></button>
                        <button ng-hide="!writable_object" class="btn btn-default btn-xs" type="button" ng-click="editObject($index)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button ng-hide="!deletable" class="btn btn-danger btn-xs" type="button" ng-click="removeObject($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <pim-plugin key="TYPE_FIELD_APPEND" uiblocks="uiblocks"></pim-plugin>
        </div>

    </div>
    <pim-plugin key="TYPE_APPEND" uiblocks="uiblocks"></pim-plugin>
</div>