<pim-plugin key="FILES_CONTENT_PREPEND" uiblocks="uiblocks"></pim-plugin>
<div class="row image-upload" ng-show="vm.fileUploads" ng-repeat="f in vm.fileUploads" data-block="upload">
    <div class="col-sm-3 col-sm-offset-1">{{f.name}}</div>
    <div class="col-sm-6">
        <uib-progressbar ng-show="f.progress >= 0" max="max" value="f.progress">{{f.progress}} %</uib-progressbar>
    </div>
</div>
<div class="row" ng-show="vm.errorMsg" data-block="error">
    <div class="col-sm-10 col-sm-offset-1 alert alert-danger">{{vm.errorMsg}}</div>
</div>